<div class="content">
    <h1>About</h1>
    <p>Some information about this site:</p>
    <ul>
        <li>
            <p>
                You can check out the tab "Projects" where I've provided some screenshots along with descriptions
                and links to my GitHub repository where you can explore the code.
            </p>
        </li>
        <li>
            <p>Screenshots are generated using Lighthouse from the Js_Library. <br /></p>
        </li>
        <li>
            <p>There is a Login/Register button.<br /> This feature works in conjunction with the "Articles" page.</p>
        </li>
        <li>
            <p>To Create/Edit/Delete an article, you need to have Admin permissions. <br />
               Admin role is hard coded, you can register a new acc for Admin using the "admin@email.com" email.</p>
        </li>
    </ul>
</div>